

<h1>Hello {{ hunter.name }}!</h1>


<h3 class="text-center">Add new event</h3>
<form data-ng-submit="hunter.addEvent()" class="signin form-horizontal" autocomplete="off">
	<fieldset>
		<div class="form-group">
			<label for="desc">Description</label>
			<input type="text" id="desc" name="desc" class="form-control" data-ng-model="hunter.desc" placeholder="Description">
		</div>
		<div class="form-group">
			<label for="longitude">Longitude</label>
			<input type="text" id="longitude" name="longitude" class="form-control" data-ng-model="hunter.longitude" placeholder="Longitude">
		</div>
    <div class="form-group">
			<label for="latitude">Latitude</label>
			<input type="text" id="latitude" name="latitude" class="form-control" data-ng-model="hunter.latitude" placeholder="Latitude">
		</div>
    <div class="form-group">
			<label for="tag">Tags</label>
			<input type="text" id="tag" name="tag" class="form-control" data-ng-model="hunter.tag" placeholder="Tags">
		</div>
		<div class="text-center form-group">
			<button type="submit" class="btn btn-primary">Add Event</button>
		</div>
		<div data-ng-show="error" class="text-center text-danger">
			<strong data-ng-bind="error"></strong>
		</div>
	</fieldset>
</form>



<h3>Your latest events</h3>
<ul class="buttonLinks">
  <li data-ng-repeat="event in hunter.eventList">
    <button class="link" ng-click="custom=!custom">{{ event.description }}</button>
    <span ng-show="custom">
      <div class="btn-group-sm" role="group" aria-label="...">
        <button class="btn btn-warning" data-ng-click="hunter.editEvent({{ event }})">Edit</button>
        <button class="btn btn-danger" data-ng-click="hunter.removeEvent({{ event.id }})">Delete</button>
      </div>
      <ul>
        <li>Position</li>
        <ul>
          <li>Latitude: {{ event.position.lat }}</li>
          <li>Longitude: {{ event.position.lng }}</li>
        </ul>
        <li>Tags:</li>
        <ul>
          <li data-ng-repeat="tag in event.tags">
            {{ tag.tag.name }}
          </li>
        </ul>
      </ul>
    </span>
  </li>
</ul>


<h3 class="text-center">Edit event</h3>
<form data-ng-submit="hunter.changeEvent()" class="signin form-horizontal" autocomplete="off">
  <fieldset>
    <input type="hidden" name="changeId" ng-value="hunter.changeId" />
    <div class="form-group">
      <label for="changeDesc">Description</label>
      <input type="text" id="changeDesc" name="changeDesc" class="form-control" data-ng-model="hunter.changeDesc">
    </div>
    <div class="text-center form-group">
      <button type="submit" class="btn btn-primary">Save Event</button>
    </div>
  </fieldset>
</form>
