
<ul>
  <button data-ng-click="events.allEvents()">Get all Events</button>
  <button data-ng-click="events.allHunters()">Sort by Hunter</button>
  <button data-ng-click="events.allTags()">Sort by Tag</button>
  <input type="text" data-ng-model="events.eventQuery" />
  <button data-ng-click="events.queryEvents()">Search by description</button>
</ul>


<h3>Filter list</h3>

<span data-ng-repeat="filter in events.filterList">
  <a data-ng-click="events.filterEvents({{ filter.id }})" ng-href="#">{{ filter.name }}</a>
</span>


<div id="eventsDiv">
  <h3>Events</h3>
  <ul>
    <li data-ng-repeat="event in events.eventList">
      <a data-ng-click="events.gotoEvent({{ event.position }})" ng-href="#">{{ event.description }}</a>
    </li>
  </ul>
</div>

<div id="mapDiv">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="eventMarkers" coords="'self'">
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
