<div class="jumbotron">
  <p class="lead">
    <ul>
      <button data-ng-click="events.allEvents()">Get all Events</button>
      <button data-ng-click="events.allHunters()">Sort by Hunter</button>
      <button data-ng-click="events.allTags()">Sort by Tag</button>
    </ul>
  </p>
</div>

<h3>Filter list</h3>
<ul>
  <li data-ng-repeat="filter in events.filterList">
    {{ filter.name }}
  </li>
</ul>

<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

<h3>Events</h3>
<ul>
  <li data-ng-repeat="event in events.eventList">
    {{ event.description }}
  </li>
</ul>
